html{
    font-family: 'Franklin gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    width: 180;
    height: 50px;
    background-color: darkkhaki;
}

h2{
    color: darkkhaki;
}

p{
    font-weight: bold;
    font-style: italic;
}

input{
    width: 180px;
    height: 30px;
}

#cuentaRegresiva{
    border: 1px solid red;
    color: red;
}