h2 {
    text-align: center;
    font-family: Arial;
}

body {
    background-color: #e7e7e7;
}

.calculo {
    font-family: 'Courier New', Courier, monospace ;
    background-color: rgb(201,201,201);
    max-width: 150px;
}

span {
    color: #ff0000;
    font-weight: bolder;
}
